<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <app-sidebar></app-sidebar>
  <!-- End Sidebar -->

  <!-- Page content wrapper-->
  <div id="page-content-wrapper">
    <!-- Top navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
          <h1 class="mt-1">Lei-Gifs App</h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                  <div ngbDropdown class="dropdown">
                    <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton" aria-expanded="false">About me</button>
                    <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                      <li><a ngbDropdownItem href="https://github.com/Devipt-leiner" target="_blank"><i class="bi bi-github"></i> GitHub</a></li>
                      <li><a ngbDropdownItem href="https://www.linkedin.com/in/leinerbarrios/" target="_blank"><i class="bi bi-linkedin"></i> LinkedIn</a></li>
                    </ul>
                  </div>
              </ul>
          </div>
        </div>
    </nav>
    <!-- Page content-->
    <div class="container-fluid">
        <h2 class="mt-4">Developed by Leiner Barrios</h2>
        <p>This is a small application developed in Angular that allows you to search for all kinds of gifs by consuming the GIPHY Developers API.</p>
        <p>
          The sidebar stores the history of recent searches limiting the amount to ten, also allowing you to request the search again by clicking one of the items. The results section is designed using flex-wrap to be responsive on all devices and Bootstrap cards are used to give the results a visual touch.
        </p>
        <app-gifs-template></app-gifs-template>
    </div>

  </div>
</div>

